fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]==1.7.4
python-multipart
groq
google-generativeai
pinecone
pymupdf
python-pptx
python-docx
gtts
redis
celery
reportlab
python-magic
bcrypt==4.0.1