fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
groq
google-generativeai
pinecone
sentence-transformers
langchain
pymupdf
python-pptx
python-docx
gtts
redis
celery
reportlab
python-magic